

span, p {
  color: white;
}
.App {
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: black;
}
.mainBlock {
  position: relative;

}

.mainBlock img {
 width: 100%;
}
.main-block-price-div {
  position: absolute;
  right: 90px;
  bottom: 230px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.main-block-price-exclusive {
  display: flex;
  flex-direction: column;
}

.exclusive-span {
  background: rgb(235, 0, 0);
  border-radius: 10px;
  width: 74px;
  height: 30px;
  margin-left: 275px;
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 400;
}

.main-block-price-span, 
.main-block-price-span-name, 
.main-block-last-name-letter {
  font-family: Monument Extended Bold;
  font-weight: 400;
}
.main-block-price-span {
  color: rgb(231, 0, 0);
  font-size: 36px;
  line-height: 43px;
  margin-top: 45px;
}

.main-block-price-span-name {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 20.25px;
}
.main-block-last-name-letter {
  font-family: Monument Extended Regular;
  letter-spacing: 10px;
}

.main-block-footer-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -160px;
  padding: 0 30px;
}
button {
  width: 180px;
  height: 50px;
  font-family: Monument Extended Bold;
  font-size: 13px;
  font-weight: 800;
  line-height: 16px;
}
.btn-buy {
  margin-left: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.rightSide-text-desc {
  width: 330px;
}

p {
  font-weight: 800;
  font-family: Monument Extended Regular;
}

.main-block-leftSide-text {
  text-align: center;
}

.rightSide-text-desc {
  font-family: Roboto;
}